body {
  background-color: #080a1c;
}

.title {
  text-align: center;
  font-size: 50px;
  color: white;
}

.playerScore,
.computerScore,
.result {
  color: white;
  text-align: center;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}

#rock,
#paper,
#scissor {
  display: block;
}

#result-screen {
  font-size: 50px;
}

.reset {
  display: none;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.move {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 50px;
}

.result {
  margin: 50px;
}

.rock {
  height: 150px;
  width: 150px;
  background-image: url("https://images.emojiterra.com/google/android-11/512px/1faa8.png");
  background-size: cover;
  font-size: 20px;
}

.paper {
  height: 150px;
  width: 150px;
  background-image: url("https://cdn4.iconfinder.com/data/icons/objects-home-office-essential/48/v-35-512.png");
  background-size: cover;
  font-size: 20px;
}

.scissors {
  height: 150px;
  width: 150px;
  background-image: url("https://emojipedia-us.s3.amazonaws.com/source/skype/289/scissors_2702-fe0f.png");
  background-size: cover;
  font-size: 20px;
}

.reset {
  height: 150px;
  width: 150px;
  background-size: cover;
  font-size: 20px;
  text-align: center;
}
